Recuperando senha

Uma solicitação de recuperação de senha foi realizada para o e-mail ({{email}}). Se você não foi o autor dessa requizição, seria legal trocar sua senha para garantir.

Para continuar com a recuperação de senha, utilize o ({{token}}) ou clique no link abaixo

Criar nova senha
